:root {
    --tp-theme-color: #0057FC;
    --tp-theme-color-2: #FFE815;
    --tp-heading-color: #FFE815;
    --tp-body-color: #57595C;
    --tp-theme-nblue: #001C52;
    --tp-black: black;
    --tp-white: white;
    --tp-grey-color: #f6f6f6;
    --tp-grey-color-2: #f6f6f6;
    --tp-grey-color-3: #f6f6f6;
    --tp-grey-color-4: #f6f6f6;
}