$font-url : 'https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100..1000&family=Federo&display=swap';
:root {
    --tp-fonts-heading: "Federo", sans-serif;
    --tp-fonts-body: "DM Sans", sans-serif;
}
