@use "../utils" as *;

.tp-btn {
  background-color: var(--tp-theme-color);
  padding: 16px 45px;
  font-family: var(--tp-fonts-heading);
  font-size: 18px;
  line-height: 28px;
  border-radius: 5px;
  display: inline-block;
  color: #ffffff;
}

.tp-btn-sec {
  background-color: var(--tp-theme-color-2);
  padding: 16px 45px;
  font-family: var(--tp-fonts-heading);
  font-size: 18px;
  line-height: 28px;
  border-radius: 5px;
  display: inline-block;
  &-lg {
    padding: 21px 45px;
  }
}
