@use "../../utils" as *;

.tp-about {
  &-area {
    overflow: hidden;
    & img {
      border-radius: 20px;
    }
  }
  &-shape {
    &-1 {
      top: 30%;
      left: 0;
    }
    &-2 {
      top: 5%;
      right: -10%;
    }
    &-3 {
      top: 45%;
      left: 30%;
    }
  }
  &-video {
    &-icon {
      & a {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 80px;
        width: 80px;
        border: 1px solid #57595c;
        border-radius: 50%;
      }
    }
    & h4 {
      font-size: 30px;
      color: #57595c;
      margin-bottom: 0;
    }
  }
}
