@use "../../utils" as *;

.tp-testimonial {
  &-shape {
    position: absolute;
    top: 65px;
    left: 0;
    right: 0;
    z-index: -1;
  }
  &-desc {
    font-size: 100px;
  }
  &-name {
    font-size: 30px;
    margin-bottom: 8px;
  }
  &-desig {
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 90px;
    & span {
      height: 1px;
      width: 60px;
      display: inline-block;
      background-color: #57595c;
      margin-right: 10px;
    }
  }
}

.tp-swiper-button-next {
  font-size: 50px;
  right: 25px;
  top: 46%;
}

.tp-swiper-button-prev {
  top: 46%;
  left: 25px;
  font-size: 50px;
}

.swiper-button-disabled {
  color: #cbbcbc;
}

.tp-testimonial-author-bg-2 {
  right: 0;
  top: 0;
  z-index: -1;
}

.tp-testimonial-author-bg-1 {
  left: 0;
  top: 110px;
  z-index: -1;
}
